@{
    ViewData["Title"] = "Reset your password.";
}

<div class="card mx-auto" style="width: 30rem;">
    <div class="card-body">
        <h5 class="card-title text-center"><small class="text-dark"/>Reset your password</h5>
        <br />
        <form>
            <div class="form-row">
                <div class="col">
                    <label for="inputemail">Email Address</label>
                    <input type="email" class="form-control" id="inputemail" placeholder="you@yours.com" />
                </div>
            </div>
            <br />
            <div class="form-row">
                <div class="col-auto">
                    <button type="submit" class="btn btn-sm">Reset password</button>
                </div>
                <div class="col-auto">
                    <a asp-controller="User" asp-action="SignIn">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>

