@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron" style="background:url(https://s.gr-assets.com/assets/home/masthead_background.jpg)">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="https://s.gr-assets.com/assets/home/headline-e2cd420e71737ff2815d09af5b65c4e4.png" alt="Alternate Text" />
            </div>
            <div class="col-5">
                <form action="/" method="post">
                    <h4>New here? Create a free account!</h4>
                    <div class="form-group row">
                        <div class="col">
                            <input type="text" class="form-control" name="name" placeholder="Name" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <input type="text" class="form-control" name="name" placeholder="Email Address" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <input type="text" class="form-control" name="name" placeholder="Password" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary">Sign Up</button>
                        </div>
                        <div class="col">
                            <small class="text-muted float-left">
                                By clicking “Sign up” I agree to the Goodreads Terms of Service and confirm that I am at least 13 years old.
                            </small>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="card-columns">
    <div class="card">
        <div class="card-text">
            Deciding what to read next?
        </div>
        <div class="card-body">
            You’re in the right place. Tell us what titles or genres you’ve enjoyed in the past, and we’ll give you surprisingly insightful recommendations.
        </div>
    </div>
    <div class="card">
        <div class="card-text">
            What are your friends reading?
        </div>
        <div class="card-body">
            Chances are your friends are discussing their favorite (and least favorite) books on Goodreads.
        </div>
    </div>
    <div class="card">
        <div class="card-text">
            Love lists?
        </div>
        <div class="card-body">
            List of books
        </div>
    </div>
</div>
