<div class="container float-left w-75">
    <h5>Search and browse books</h5>
    <div class="input-group" style="width:350px;">
        <input type="text" class="form-control" id="search" placeholder="Title / Author / ISBN" />
    </div>
    <br />
    <div class="row">
        <div class="col-sm">
            <div class="row">
                <a href="#">Art</a>
            </div>
            <div class="row">
                <a href="#">Biography</a>
            </div>
            <div class="row">
                <a href="#">Business</a>
            </div>
            <div class="row">
                <a href="#">Children's</a>
            </div>
            <div class="row">
                <a href="#">Christian</a>
            </div>
            <div class="row">
                <a href="#">Classics</a>
            </div>
            <div class="row">
                <a href="#">Comics</a>
            </div>
            <div class="row">
                <a href="#">Cookbooks</a>
            </div>
        </div>
        <div class="col-sm">
            <div class="row">
                <a href="#">Ebooks</a>
            </div>
            <div class="row">
                <a href="#">Fantasy</a>
            </div>
            <div class="row">
                <a href="#">Fiction</a>
            </div>
            <div class="row">
                <a href="#">Graphic Novels</a>
            </div>
            <div class="row">
                <a href="#">Historical Fiction</a>
            </div>
            <div class="row">
                <a href="#">History</a>
            </div>
            <div class="row">
                <a href="#">Horror</a>
            </div>
            <div class="row">
                <a href="#">Memoir</a>
            </div>
        </div>
        <div class="col-sm">
            <div class="row">
                <a href="#">Music</a>
            </div>
            <div class="row">
                <a href="#">Mystery</a>
            </div>
            <div class="row">
                <a href="#">Nonfiction</a>
            </div>
            <div class="row">
                <a href="#">Poetry</a>
            </div>
            <div class="row">
                <a href="#">Psychology</a>
            </div>
            <div class="row">
                <a href="#">Romance</a>
            </div>
            <div class="row">
                <a href="#">Science</a>
            </div>
            <div class="row">
                <a href="#">Science Fiction</a>
            </div>
        </div>
        <div class="col-sm">
            <div class="row">
                <a href="#">Self Help</a>
            </div>
            <div class="row">
                <a href="#">Sports</a>
            </div>
            <div class="row">
                <a href="#">Thriller</a>
            </div>
            <div class="row">
                <a href="#">Travel</a>
            </div>
            <div class="row">
                <a href="#">Young Adult</a>
            </div>
            <div class="row">
                <a href="#">More genres</a>
            </div>
        </div>
    </div>
</div>
